 <!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keyword %>"   /> 

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/portfolio_header' %>
    <%= render 'shared/portfolio_subscribe' %>
    <main role="main">
    <%= yield %> 
    </main>

    <hr>

    <%= source_helper %>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <%= link_to 'View All Portfolio', portfolios_path, class: 'btn btn-warning'  %>
         <a href="#" class= "btn btn-info" >Back to top</a>
        </p>
      </div>
    </footer>
  </body>
</html>
